* {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */

a {
    text-decoration: none;
}

.content {
    /* Thẻ content này dùng để định hình độ rộng nội dung của page là 1110px */
    /* Thẻ được căn giữa */
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
/* Header */
.header {
    background: #e6f0ff;
    /* Để trang header này chiếm full màn hình */
    height: 100vh;
}

.navbar {
    display: flex;
}

.navbar ul {
    /* Không sử dụng css các thẻ li là inline block */
    /* Vì làm như vậy thì giữa các thẻ sẽ tồn tại 1 dấu cách */
    /* làm khó canh chỉnh sao cho giống từng px */
    /* còn chỉnh display flex thì sẽ dính sát vào nhau */
    /* dễ dàng canh chỉnh sao cho giống với thiết kế */
    display: flex;
    /* căn chỉnh các phần tử theo đường nằm ngang trung tâm */
    align-items: center;
}

.navbar .actions {
    /* muốn nằm sát bên phải là dùng margin ngược lại */
    /* nên dùng margin left*/
    margin-left: auto;
}

.navbar ul a {
    font-size: 1.4rem;
    font-weight: 500;
    color: #4f5361;
    /* Có thể không cần padding top + bot */
    /* Nhưng nếu như vậy thì vùng bấm phím khá nhỏ*/
    /* nên mình thêm 8px cho dễ bấm hơn */
    padding: 8px 14px;
}
